@import '../../static/stylesheets/mixin';

.wrap{
    padding: 24px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    @include mobile{
        width: 100%;
        display: block;
    }
    .training{
        width: 50%;
        .text{
            font-size: 20px;
            line-height: 40px;
            @include mobile{
                font-size: 14px;
                line-height: 20px;
            }
        }
        @include mobile{
            width: 100%;
            display: block;
        }
    }
    .book{
        width: 50%;
        .doit{
            width: 300px; height: 400px;
            @include mobile{
                width: 200px; height: 266px;
            }
            &>img{
                width: 100%; height: 100%;
            }
        }
        @include mobile{
            width: 100%;
            margin-top: 18px;
        }
    }
}