*{margin: 0; padding: 0; font-family: sans-serif;font-size: 12px;}
img, fieldset{border: 0;}
img{vertical-align: top;}
ul, ol{list-style: none;}
em, address{font-style: normal;}
a{text-decoration: none;}
a:hover, a:active, a:focus{text-decoration: underline;}

/*
    현재 위치에서 좌우로 배치 => float 
    위치를 따로 지정을 하고 싶다 => position
*/

#wrap{
    background-color: gray;
}

#header{
    min-width: 970px;
    padding: 20px 0;
    background-color: red;
}

#header .header-area{
    width: 970px;
    margin: 0 auto;
}

#container{
    width: 970px;
    margin: 0 auto;
    padding-bottom: 20px;
    *zoom: 1;
    background-color: lime;
}

#container:after{
    content: '';
    display: block;
    clear: both;
}

#container #content{
    width: 600px;
    float: right;
    background-color: blue;
}

#container #content .inn{
    padding: 20px;
}

#container .aside{
    width: 370px;
    float: left;
    background-color: green;
}

#container .aside .inn{
    padding: 20px;
}

#footer{
    min-width: 970px;
    padding: 20px 0;
    background-color: silver;
}

#footer .footer-area{
    width: 970px;
    margin: 0 auto;
}