*{margin: 0; padding: 0; font-family: sans-serif; font-size: 12px;}
img, fieldset{border: 0;}
img{vertical-align: top;}
ul, ol{list-style: none;}
em, address{font-style: normal;}
a{text-decoration: none;}
a:hover, a:active, a:focus{text-decoration: underline;}

.wrap{
    width: 1170px;
    margin: 0 auto;
    background-color: gray;
}

#header{
    padding: 20px;
    background-color: beige;
}

#header .inn{
    margin: 0 auto;
}

#container{
    margin: 0 auto;
    padding-bottom: 20px;
    *zoom: 1;
    background-color: powderblue;
}

#container:after{
    content: '';
    display: block;
    clear: both;
}

#container #content{
    position: relative;
    left: 20%;
    float: left;
    width: 60%;
    background-color: salmon;
}

#container #content .inn{
    padding: 20px;
}

#container .nav{
    position: relative;
    left: -60%;
    float: left;
    width: 20%;
    background-color: sandybrown;
}

#container .nav .inn{
    padding: 20px;
}

#container .aside{
    float: right;
    width: 20%;
    background-color: wheat;
}

#container .aside .inn{
    padding: 20px;
}

#footer{
    padding: 20px;
    background-color: silver;
}

#footer .inn{
    margin: 0 auto;
}

@media screen and (max-width: 1170px){
    .wrap{
        width: auto;
    }
}

@media screen and (max-width: 670px){
    #container #content{
        position: static;
        float: none;
        width: auto;
    }

    #container .nav{
        position: static;
        float: none;
        width: auto;
    }

    #container .aside{
        float: none;
        width: auto;
    }
}