*{margin: 0; padding: 0; font-family: sans-serif; font-size: 50px;}
img, fieldset{border: 0;}
img{vertical-align: top; width: 800px; height: 400px;}
ul, ol{list-style: none;}
em, address{font-style: normal;}
a{text-decoration: none;}
a:hover, a:active, a:focus{text-decoration: underline;}

#container{
    width: 800px;
    margin: 0 auto;
}

#carousel{
    display: flex;
}