
article{padding: 24px;}

.title{
    font-size: 1.167rem; // 14px
    margin-bottom: 5px;
}

.wrap{
    width: 400px;
	border: 3px red dashed;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    .thumb{
        border: 2px black solid;
        border-radius: 5px;
        margin: 1px;
        overflow: hidden;
        img{
            vertical-align: top;
        }
    }
}